# Carbon Price Forecasting

## Introduction

In this project, I forecast the price of carbon at which it is traded in carbon markets, or Emissions Trading Systems (ETS), using a GARCH model. The data is sourced from the [World Carbon Pricing Database](https://github.com/g-dolphin/WorldCarbonPricingDatabase/tree/master), compiled by Dolphin and Xiahou, economics PhD researchers. It is maintained by an active userbase on Github to reflect updated information.

## Data Pre-Processing

In [ ]:
!pip install pandas --upgrade

In [4]:
# import packages
import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import re

In [7]:
# url used to parse HTML text using BeautifulSoup
base_url = 'https://github.com/g-dolphin/WorldCarbonPricingDatabase/tree/master/_dataset/data/CO2/national/'
# url used to read the content of the files from Github
file_url = 'https://raw.githubusercontent.com/g-dolphin/WorldCarbonPricingDatabase/master/_dataset/data/CO2/national/'

result = requests.get(base_url)
json_result = json.loads(result.text)

country_files = []
[country_files.append(file_url + country_file['name']) for country_file in json_result['payload']['tree']['items']]    

# while loop implementation
# index = 0

# while index < len(json_result['payload']['tree']['items']):
#     country_files.append(file_url + json_result['payload']['tree']['items'][index]['name'])
#     index+=1

print(country_files[0])

https://raw.githubusercontent.com/g-dolphin/WorldCarbonPricingDatabase/master/_dataset/data/CO2/national/wcpd_co2_Afghanistan.csv

In [8]:
carbon_df = pd.DataFrame()

for country_file in country_files:
    data = pd.read_csv(country_file)
    data = data.astype({'tax': 'int32', 'ets': 'int32', 'tax_rate_incl_ex_clcu': 'float', 'ets_price': 'float', 'tax_curr_code': 'str'})
    carbon_df = pd.concat([carbon_df, data], axis=0)

In [10]:
carbon_df.dtypes

jurisdiction              object
year                       int64
ipcc_code                 object
Product                   object
tax                        int32
ets                        int32
tax_id                    object
tax_rate_excl_ex_clcu    float64
tax_ex_rate              float64
tax_rate_incl_ex_clcu    float64
tax_curr_code             object
ets_id                    object
ets_price                float64
ets_curr_code             object
ets_2_id                 float64
ets_2_price              float64
ets_2_curr_code          float64
dtype: object

In [15]:
carbon_df = carbon_df.dropna(subset=['ets_price'])

In [18]:
carbon_df.jurisdiction.unique()

array(['Austria', 'Belgium', 'Bulgaria', 'China', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Kazakhstan', 'Korea, Rep.', 'Latvia', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'New Zealand',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Slovak Republic',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom'],
      dtype=object)

In [17]:
carbon_df.describe()

,year,tax,ets,tax_rate_excl_ex_clcu,tax_ex_rate,tax_rate_incl_ex_clcu,ets_price,ets_2_id,ets_2_price,ets_2_curr_code
count,43703.000000,43703.000000,43703.0,4941.000000,5008.000000,4941.000000,43703.000000,0.0,0.0,0.0
mean,2014.112807,0.114592,1.0,106.929135,0.039173,68.785893,349.509261,NaN,NaN,NaN
std,5.009149,0.318532,0.0,325.995177,0.174870,262.278894,2793.133980,NaN,NaN,NaN
min,2005.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,2010.000000,0.000000,1.0,1.890000,0.000000,1.890000,5.950000,NaN,NaN,NaN
50%,2014.000000,0.000000,1.0,12.000000,0.000000,12.000000,14.340000,NaN,NaN,NaN
75%,2018.000000,0.000000,1.0,27.622137,0.000000,27.622137,24.760000,NaN,NaN,NaN
max,2022.000000,1.000000,1.0,4235.000000,0.900000,4235.000000,30163.910000,NaN,NaN,NaN

In [19]:
carbon_df.shape

(43703, 17)

In [21]:
carbon_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43703 entries, 4779 to 9774
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   jurisdiction           43703 non-null  object
 1   year                   43703 non-null  int64
 2   ipcc_code              43703 non-null  object
 3   Product                31671 non-null  object
 4   tax                    43703 non-null  int32
 5   ets                    43703 non-null  int32
 6   tax_id                 5008 non-null   object
 7   tax_rate_excl_ex_clcu  4941 non-null   float64
 8   tax_ex_rate            5008 non-null   float64
 9   tax_rate_incl_ex_clcu  4941 non-null   float64
 10  tax_curr_code          43703 non-null  object
 11  ets_id                 43703 non-null  object
 12  ets_price              43703 non-null  float64
 13  ets_curr_code          43703 non-null  object
 14  ets_2_id               0 non-null      float64
 15  ets_2_price            0 non-null      float64
 16  ets_2_curr_code        0 non-null      float64
dtypes: float64(7), int32(2), int64(1), object(7)
memory usage: 5.7+ MB

In [ ]:
carbon_df.to_csv('carbon_price_all_countries.csv', index=False)

## Data Modeling

## Model Diagnostics

## Conclusion

## References

- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9859446/